<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Exibição de Categorias</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div href="index.html" class="panel panel-default">
		<div class="panel-heading">
			<strong>Categorias</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria,indexCategoria : ${categorias}">
							<td th:text="${categoria.id}"></td>
							<td th:text="${categoria.nome}"></td>
							<td>
								<div class="btn-group pull-right">
									<a class="btn btn-sm btn btn-info" th:href="@{/categorias/products/{id}(id=${categoria.id})}">Produtos</a>
							   		<a class="btn btn-sm btn-primary" th:href="@{/categorias/edit/{id}(id=${categoria.id})}" >Editar</a>
							   		<a class="delete btn btn-sm btn-danger" th:href="@{/categorias/delete/{id}(id=${categoria.id})}">Excluir</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{insert/}" >Adicionar</a>
			<a class="btn btn-sm btn-primary" th:href="@{/}" >Voltar</a>
		</div>
	</div>
</body>
</html>
